#submission-content
  %p
  .form-control
    = text_area_tag(:content, nil, id: 'edit-submission-content')
    = hidden_field_tag('exercise_id', @exercise.id)
    = button_tag('Submit', class: 'btn')
#exercise-content
  %h1=@exercise.title
  #exercise-description=@exercise.description
  %br
  %pre
    #exercise-test=@stuff
#progress-spinner
#test-results
  %pre