#submission-content
  .form-control
    = label_tag(:content, "Content", for: 'edit-submission-content')
    = text_area_tag(:content, nil, id: 'edit-submission-content')
#exercise-content
  %h1{id: 'exercise-title'}=@exercise.title
  #exercise-description=@exercise.description
  %pre
    #exercise-test=@stuff
  %span="Last updated: #{@exercise.updated_at.strftime("%m/%d/%Y")}"
#test-results
  %p
    Placeholder