%h1 About

%p Hey! Welcome to my website! I'm a software engineer based in New York. This site is where I write about what I know for two main audiences: you (because you're special) and my future self who will have forgotten most of what my present self currently knows.

%p Most of the articles on this site is going to be dedicated to the following topics:

%ul
  %li Software Design
  %li Programming Languages
  %li Software Methodology (i.e XP)
%br
%p
  If you have any questions or just want to say hi, you can reach out to me on twitter at
  %a{href: 'https://twitter.com/makealanlin'}
    @makealanlin.
%p
  Or, if you want to check out more of my writing - I'm also active on StackOverflow!
%a{href: "https://stackoverflow.com/users/2939548/linstantnoodles"}
  %img{src: "https://stackoverflow.com/users/flair/2939548.png?theme=dark", width: "208", height: "58", :width => "208", :height => "58", :alt => "profile for linstantnoodles at Stack Overflow, Q&amp;A for professional and enthusiast programmers", :title => "profile for linstantnoodles at Stack Overflow, Q&amp;A for professional and enthusiast programmers"}