#ht-content.ht-site-content.ht-clearfix
  %header.ht-main-header
    .ht-container
      %h1.ht-main-title About
      %nav.breadcrumb-trail.breadcrumbs{role: 'navigation',
                                        aria: { label:'Breadcrumbs' },
                                        itemprop:'breadcrumb'}
        %ul
          %meta{name: 'numberOfItems', content: '2'}
          %meta{name: 'itemListOrder', content: 'Ascending'}
          %li.trail-item.trail-begin{itemprop: 'itemListElement', itemscope: '', itemtype: 'http://schema.org/ListItem'}
            %a{href: "#{root_path}", rel: 'home', itemprop: 'item'}
              %span{itemprop: 'name'} Home
            %meta{itemprop: 'position', content:'1'}
          %li.trail-item.trail-begin{itemprop: 'itemListElement', itemscope: '', itemtype: 'http://schema.org/ListItem'}
            %a{href: "/about", itemprop: 'item'}
              %span{itemprop: 'name'} About
            %meta{itemprop: 'position', content:'1'}
  .ht-container
    #primary.content-area
      #main.site-main
        %article{id: "about"}
          .entry-content
            %h2 How was this site built?
            %p
              1) It's built with ruby on rails using TDD (you should check out the lovely cucumber tests) and you can run it yourself! Here's the
              = succeed "." do
                %a{:href => "https://github.com/linstantnoodles/papyrus"} code
            %p
              2) It has a
              %a{:href => "https://github.com/linstantnoodles/papyrus/blob/master/app/models/concerns/spaced_repetition.rb"} built-in spaced repetition system
              using the
              = succeed "." do
                %a{:href => "https://www.supermemo.com/english/ol/sm2.htm"} SM2 algorithm
            %p
              3) It comes packed with webpacker,
              %a{:href => "https://github.com/linstantnoodles/papyrus/blob/master/app/javascript/controllers/search_controller.js"} StimulusJS
              and reactJS so if you're all about single page apps, do you.
            %p
              4) You can create
              %a{:href => "https://github.com/linstantnoodles/papyrus/blob/master/app/models/post.rb#L19"} posts belonging to other posts
              so it's posts all the way down.
            %p
              5) Oh and there's a
              %a{:href => "https://github.com/linstantnoodles/papyrus/blob/master/script/papy"} CLI
              for publishing a post straight from your machine! (Not behind auth so ... PRs welcome)