// Place all the styles related to the admin/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-front, .card-back {
    margin: auto;
    text-align: center;
}

.show-back {
    display: block;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.performance-score {
    margin: auto;
}

.performance-score form {
    float: right;
}

.cards .due-day {
    display: block;
    font-style: italic;
    margin-left: 10px;
}