html {
    background: linear-gradient(hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    background-color: #e8ebef;
    background-repeat: no-repeat;
}

#login-btn {
    margin-top: 10px;
    background: linear-gradient(#fff, #000);

}

#login {
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    border-radius: 6px;
    background: linear-gradient(#fff,#f2f6f9);
    box-shadow: 0 0 0 1px rgba(14,41,57,.12), 0 2px 5px rgba(14,41,57,.44), inset 0 -1px 2px rgba(14,41,57,.15);

}

#login form {
    padding: 14px;
}

#login input {
    box-sizing : border-box;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 14px;
}

#login span {
    display: block;
}

#login label {
    display: none;
}