%h1 Posts
= link_to 'New Post', new_admin_post_path, method: 'get'
%table.admin_posts
  %colgroup
    %col
    %col
    %col
  %thead
    %tr
      %th Title
      %th Last change
      %th Action
  %tbody
    - @posts.each_with_index do |post, index|
      %tr
        %td=link_to post.title, admin_post_path(id: post.id)
        %td=post.updated_at.strftime("%m/%d/%Y")
        %td=link_to 'Edit', edit_admin_post_path(id: post.id)
