= link_to 'Review All', review_all_admin_cards_path, method: 'get', class: 'btn'
= link_to 'New Card', new_admin_card_path, method: 'get', class: 'btn'
- @cards.each_with_index do |card, index|
    %p=card.front
