= link_to 'Review All', review_all_admin_cards_path, method: 'get', class: 'btn'
= link_to 'New Card', new_admin_card_path, method: 'get', class: 'btn'
- @cards.each_with_index do |card, index|
  %ul
    %li=card.front
    %li="Created: #{card.created_at}"
    - if card.next_due_date.to_datetime.today?
      %li="Next due date: Today"
    - elsif card.next_due_date.to_date == Date.tomorrow
      %li="Next due date: Tomorrow"
    - else
      %li="Next due date: #{card.next_due_date}"
