%h1 Posts
%table
  %colgroup
    %col
    %col
  %thead
    %tr
      %th Title
      %th Last change
  %tbody
    - @posts.each_with_index do |post, index|
      %tr
        %td=link_to post.title, post_path(id: post.id)
        %td=post.published_at.strftime("%m/%d/%Y")
