/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

.admin_posts {
    border-collapse: collapse;
    width: 50em;
    border: 1px solid #666;
}

.admin_content {
    margin-top: 10px;
}

th, td {
    padding: 0.1em 1em;
}

col {
    border-right: 1px solid #ccc;
}

textarea {
  display : block;
  border-width: 1px;
  border-style: dashed;
  padding : 10px;
  width   : 500px;
  height  : 360px;

  resize  : none;
  overflow: auto;
}

input[type="text"] {
  border-width: 1px;
  border-style: dashed;
  padding : 10px;
  width: 200px;
}

label {
    display: block;
}

#container {
  width: 800px;
  margin: 0 auto;
}

#branding {
  width: 100%;
  height: 50px;
  background-color: black;
}

#logo {
  color: white;
  font-size: 20px;
  padding-top: 13px;
  padding-left: 10px;
  float: left;
}

#branding a {
  float: right;
  color: white;
  padding-top: 13px;
  padding-right: 10px;
  text-decoration: none;
}

#content {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

