

/* Code blocks */
.code-container .pre {
    background-color: #fff;
  }

table.route-table {
  background-color: white;
  width: none;
}

.rouge-gutter {
    padding-right: 10px;
    color: #d3d3d3;
}

.rouge-code {
    background-color: #fff;
    padding-right: 10px;
}


ol, ul {
    list-style-position: inside;
}

code.prettyprint {
    margin: 0;
    background-color: #f6f8fa;
    border-radius: 3px;
}