/* Code blocks */
.code-container pre {
    background-color: #fff;
  }

.code-container table {
  width: 0%;
}

.rouge-gutter {
    color: #d3d3d3;
}

.rouge-code {
    background-color: #fff;
    padding-right: 10px;
}

ol, ul {
    list-style-position: inside;
}

code.prettyprint {
    margin: 0;
    background-color: #f6f8fa;
    border-radius: 3px;
}