* {
    margin: 0;
    padding: 0;
}

.rouge-table {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dotted #ccc;
}

.rouge-gutter {
    padding-right: 10px;
    color: #d3d3d3;
}

.rouge-code {
    background-color: #fff;
    padding-right: 10px;
}


ol, ul {
    list-style-position: inside;
}